{{#checkAndBindList testimonials}}
    <div class="col-md-7">
        <div class="one slide">
           
        
            <h2>{{personName}}</h2>
            <h6>{{designation}} at {{organization}}</h6>
            
        </div>
    </div>
        <div class="col-md-7">
        <div class="one slide">
           
        
            <h2>{{personName}}</h2>
            <h6>{{designation}} at {{organization}}</h6>
            
        </div>
    </div>    <div class="col-md-7">
        <div class="one slide">
           
        
            <h2>{{personName}}</h2>
            <h6>{{designation}} at {{organization}}</h6>
            
        </div>
    </div>
{{else}}
    {{>shared/no-data-found}}
{{/checkAndBindList}}













